
colourToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[[-]?\\d+\\Q.\\E\\d+] as FLOAT
	[[-]?\\d+] as INTEGER
	[.*] as WILD
	"\n" as NEWLINE
	"colours" as COLOURS
colourBrace-s are Braced
	[,.] as COLOUR_FILE with WILD as colour_file_name 
colourImporter-s are Import
	[><<\"gui/\",colour_file_name,\".colours\">>\n] as IMPORT_COLOUR from (NEWLINE|COMMENTS|colour_declaration)*; with COLOUR_FILE COLOURS
colour_declaration
	NAME as colourName ((INTEGER as red INTEGER as blue INTEGER as green) as asInt | ((FLOAT|INTEGER) as red (FLOAT|INTEGER) as blue (FLOAT|INTEGER) as green) as asFloat) 
