#GUI
base is silent
	( NEWLINE | COMMENTS | import_any )*
import_any
	IMPORT_COLOUR
	IMPORT_ANIMATION_TYPE
	IMPORT_IMAGE
	IMPORT_DRAWABLE 
	IMPORT_LAYER

comment-s are Braced
	[#,#] as COMMENTS with WILD as comment
generalToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[[-]?\\d+\\Q.\\E\\d+] as FLOAT
	[[-]?\\d+] as INTEGER
	[.*] as WILD
	"\n" as NEWLINE
	"colours" as COLOURS

import gui_headers