
#IMAGES
image_name-s are empty
imageToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[.*] as WILD
	"\n" as NEWLINE
	"\n\t" as NEWTAB
	"->" as IMAGE_STATE_CHANGE
	"," as COMMA
	":" as COLON
	[[Xx]] as CROSS
	"-" as DASH
	">" as LESSTHAN
	"=" as EQUALSIGN
	"imgs" as IMGS
	"png" as PNG
image_type
	PNG
imageBrace-s are Braced
	[,.] as IMAGE_FILE with WILD as image_file_name
	[{,}] as ANIMATION_SUB_STATES with ( NEWLINE animation_state )* NEWLINE*
imageImport-s are Import
	[><<\"gui/images/\",image_file_name,\".imgs\">>\n] as IMPORT_IMAGE from (NEWLINE|image_declaration)+; with (IMAGE_FILE IMGS)
image_declaration
	NAME as imageName in image_names ( INTEGER as frameWidth CROSS INTEGER as frameHeight? ) EQUALSIGN IMAGE_FILE image_type ( NEWTAB animation_state )*
animation_state
	( NAME as animationId ANIMATION_SUB_STATES ) as parentState
	( NAME as animationId (PIPE NAME as flipAnimationId)? COLON NAME as animationTypeName animation_variable_value* ) as finalState
image_id
	image_name ( INTEGER as frameWidth (COMMA INTEGER as frameHeight)? )?
animation
	image_id ( DASH INTEGER as frames? LESSTHAN ( image_name| INTEGER as left (COMMA INTEGER as right)?)) as delta*