#TRAIT
trait_name-s are empty
traitToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[.*] as WILD
	"\n" as NEWLINE
	"\n\t" as NEWTAB
	"trts" as TRTS
	[[<>][=]?] as ORDINAL
	"?" as REQUIRE
	"EXP" as EXP
	"trait" as TRAIT
	"+" as PLUS
	"-" as MINUS
	"!" as NOT
	"|" as OR
traitBrace-s are Braced
	[,.] as TRAITS_FILE with WILD as trait_file_name 
	[\n\t,;;] as TRAIT_DESCRIPTION with WILD as description
traitImport-s are Import
	[><<\"entities/mods/traits/\",trait_file_name,\".trts\">>\n] as IMPORT_TRAIT from (NEWLINE|COMMENTS|trait_declaration)*; with TRAITS_FILE TRTS
trait_declaration
	NAME as traitName in trait_names TRAIT_DESCRIPTION trait_element*
trait_element is silent
	NEWLINE
	COMMENTS
	REQUIRE requirement
	imposition
	acquisition
