
#ACTIVITY#
activity_names global list with NAME
import_activity Imports "entities/behaviours/activities/" FILE_NAME ".atvs" = ">" FILE_NAME ".atvs" "\n"
	( "\n" | comments | activity_declaration )*
activity_declaration
	NAME as activityName in activity_names method_parameters? ( NAME as className ( "," NAME as className )* )? "\n"* DESCRIPTION activity_element*
activity_element silent
	comments
	"+" variable_declaration
	"get" ( ("target" std_body) as getTarget | ("destination" std_body) as getDestination )
	(( "succeed" as SUCCEED | "fail" as FAIL ) if_header ) as endState
	( "listen" std_body ) as listen
	( "step" std_body ) as step
	event_statement
	"\n"