#SUPPORT#
support_names global list with NAME
import_support Imports "entities/behaviours/skills/supports/" FILE_NAME ".sups" = ">" FILE_NAME ".sups" "\n"
	( "\n" | comments | support_declaration )*
support_declaration
	NAME as supportName in support_names DESCRIPTION support_element*
support_element silent
	comments
	("range" stat_range) as range
	("cd" stat_range)as cooldown
	("miss" ("\n"* conditional_chance) as option* ) as miss
	"\n"