base is silent
	( NEWLINE | COMMENTS | import_any )*
import_any
	IMPORT_EVENT
	IMPORT_ITEM
	IMPORT_IMAGE
	IMPORT_TRAIT
	IMPORT_ASPECT
	IMPORT_AFFINITY
	IMPORT_CONDITION
	IMPORT_ACTIVITY
	IMPORT_SKILL
	IMPORT_ATTACK
	IMPORT_SUPPORT
	IMPORT_QUEST
	IMPORT_MAP
	IMPORT_REASON
	IMPORT_ASSOCIATION
comment-s are Braced
	[#,#] as COMMENTS with WILD as comment


import entities/items/aspects/aspects
import entities/items/items
import entities/mods/affinities/affinities
import entities/mods/conditions/conditions
import entities/mods/traits/traits
import entities/behaviours/activities/activities
import entities/behaviours/skills/attacks/attacks
import entities/behaviours/skills/supports/supports
import entities/behaviours/quests/quests
import entities/behaviours/skills/skills
import entities/relations/associations/associations
import entities/relations/reasons/reasons
import entities/entities
import environments/environments
import environments/tiles
import events/events
import general/general
import images/images
