
#MAP
map_name-s are empty
mapToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[.*] as WILD
	"\n" as NEWLINE
	"\n\t" as NEWTAB
	"\n\t\t" as NEWTABTAB
	"\n\t\t\t" as NEWTABTABTAB
	"maps" as MAPS
	":" as COLON
	"Rectangle" as RECTANGLE
	"-" as DASH
	"," as COMMA
	"Entry" as ENTRY
	"Exits" as EXITS
	"Patches" as PATCHES
	"%" as PERCENT
	"map" as MAP
	[[^\\n]+] as AREA_BLUEPRINT

area_shape_name
	RECTANGLE

mapBrace-s are Braced
	[,.] as MAP_FILE with WILD as map_file_name
	[(,)] as PATCH_PROBABILITY with ( INTEGER as amount COLON INTEGER as percent PERCENT ) as probability ( COMMA INTEGER as amount COLON INTEGER as percent PERCENT ) as probability*

mapImport-s are Import
	[><<\"environments/maps/\",map_file_name,\".maps\">>\n] as IMPORT_MAP from (NEWLINE|COMMENTS|map_header|area_declaration)*; with MAP_FILE MAPS
map_header
	NAME as mapName in map_names IMPORT_TILE
area_declaration
	NEWLINE* NAME as areaName INTEGER as chance PERCENT COLON ( NEWTAB AREA_BLUEPRINT ( NEWTABTAB area_element)* )*
area_element
	( ENTRY tile_name ( PIPE tile_name )* ( INTEGER as lowerBound ( DASH INTEGER as upperBound )? EXITS ) as range? ) as  entryPointGeneration
	( PATCHES PATCH_PROBABILITY COLON ( NEWTABTABTAB patch_element )* ) as terrainGeneration
patch_element
	tile_name ( INTEGER as patchWidth CROSS INTEGER as patchHeight )?