
#MAP
map_name-s are empty
mapToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[.*] as WILD
	"\n" as NEWLINE
	"\n\t" as NEWTAB
	"\t" as TAB
	"maps" as MAPS
	"map" as MAP
	"Connection" as CONNECTION
	"." as DOT
	"+" as PLUS
	"-" as MINUS
	":" as COLON
	"(" as OPEN_PARA
	")" as CLOSE_PARA
mapBrace-s are Braced
	[,.] as MAP_FILE with WILD as map_file_name
mapImport-s are Import
	[><<\"environments/maps/\",map_file_name,\".maps\">>\n] as IMPORT_MAP from (NEWLINE|COMMENTS|map_header|map_connection|map_declaration)*; with MAP_FILE MAPS
map_header
	NAME as mapName IMPORT_TILE
map_connection
	CONNECTION OPEN_PARA tile_symbol as path_symbol CLOSE_PARA ( NEWTAB ( PLUS+ tile_symbol ) as benign_symbol | NEWLINE+ )*
map_declaration
	NEWLINE* (NAME as mapElementName*) COLON NEWLINE* ( tile_symbol+ ) as line ( NEWTAB tile_symbol+) as line*
