#TILES
tile_name-s are empty
tile_symbol-s are empty
tileToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[.*] as WILD
	"\n" as NEWLINE
	"\n\t" as NEWTAB
	"-" as DASH
	"->" as TILE_IMAGE_ACCESS
	"tile" as TILE
	"." as DOT
	"%" as PERCENT
	"+" as PLUS
	"-" as MINUS
	"|" as PIPE
	":" as COLON
	"Free" as FREE
	"&" as TILE_AND
	"Circle" as CIRCLE
	"Court" as COURT
	"Square" as SQUARE
	"/" as FORESLASH
	"==" as EDGE_EQUALS
	"!=" as EDGE_NOT_EQUALS
	"Floor" as FLOOR
	"Terrain" as TERRAIN
	"Dens" as DENS
	"Chests" as CHESTS
	"North" as NORTH
	"East" as EAST
	"South" as SOUTH
	"West" as WEST
	"Neighbour" as NEIGHBOUR
	"Direction" as DIRECTION
	"in" as IN
	"Passable" as PASSABLE
	"Impassable" as IMPASSABLE
	"*" as STAR
	"::" as DOUBLE_COLON
shape_type
	CIRCLE | COURT | SQUARE
tileBrace-s are Braced
	[,.] as TILE_FILE with WILD as tile_file_name
	[[,]] as TILE_DIMENSIONS with INTEGER as width COMMA INTEGER as height
tileImport-s are Import
	[><<\"environments/tiles/\",tile_file_name,\".tile\">>\n] as IMPORT_TILE from (NEWLINE|COMMENTS|tile_declaration)*; with TILE_FILE TILE
tile_declaration
	( STAR+ FLOOR STAR+ NEWLINE* edge_definition* NEWLINE* tile_definition* ) as floor_declaration
	( STAR+ TERRAIN STAR+ NEWLINE* tile_definition* ) as terrain_declaration
	( STAR+ DENS STAR+ NEWLINE* tile_definition* ) as dens_declaration
	( STAR+ CHESTS STAR+ NEWLINE* tile_definition* ) as chests_declaration
direction_name
	NORTH | EAST | SOUTH | WEST
edge_definition
	FORESLASH NAME as edgeTileName ( PIPE NAME as edgeTileName )* direction_name (PIPE direction_name)* ( NEWLINE edge_if )*
edge_if
	( IF NEIGHBOUR (IN DIRECTION | INTEGER INTEGER ) edge_if_operator ( NULL ) ) as neighbourIf
edge_if_operator
	EDGE_EQUALS
	EDGE_NOT_EQUALS 
tile_definition
	( (tile_name as floorParentName (COMMA tile_name as floorParentName)*) DOUBLE_COLON )? NAME as tileName in tile_names tile_definition_element* tile_element*
tile_definition_element is silent
	TILE_DIMENSIONS
	IMPASSABLE  SEMICOLON
	PASSABLE  SEMICOLON
	tile_rate SEMICOLON
	NAME as imageName (TILE_IMAGE_ACCESS NAME as imageId)* SEMICOLON 
tile_element is silent
	NEWLINE* COMMENTS
	NEWTAB edge_definition
	NEWTAB ( (PLUS|MINUS)+ entity_declaration ) as entity
	NEWLINE+
tile_rate
	tile_cost ( PIPE tile_cost)*
tile_cost
	FREE
	INTEGER as payment? ( payment_long_type_name|payment_short_type_name|item_name ) as paymentType ( TILE_AND tile_cost )?
