#ASPECTS
aspect_name-s are empty
aspectToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[.*] as WILD
	"\n" as NEWLINE
	"\n\t" as NEWTAB
	"asps" as ASPS
	"-ness" as ASPECT_NESS
aspectBrace-s are Braced
	[,.] as ASPECT_FILE with WILD as aspect_file_name 
	[\n\t,;;] as ASPECT_DESCRIPTION with WILD as description
aspectImport-s are Import
	[><<\"entities/items/aspects/\",aspect_file_name,\".asps\">>\n] as IMPORT_ASPECT from blank:(NEWLINE|COMMENTS|aspect_declaration)*; with ASPECT_FILE ASPS
aspect_declaration
	NAME as aspectName in aspect_names ASPECT_DESCRIPTION (NEWLINE|(event_name animation? BODY)as event )*
