
#SKILL
skill_name-s are empty
skillToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[.*] as WILD
	"\n" as NEWLINE
	"\n\t" as NEWTAB
	"skls" as SKLS
	"+" as PLUS
	"-" as MINUS
	"skill" as SKILL
	"use" as USE
	"?" as REQUIRE
skillBrace-s are Braced
	[,.] as SKILL_FILE with WILD as skill_file_name 
	[\n\t,.] as SKILL_DESCRIPTION with WILD as description
skillImport-s are Import
	[><<\"entities/behaviours/skills/\",skill_file_name,\".skls\">>\n] as IMPORT_SKILL from (NEWLINE|COMMENTS|skill_declaration)*; with SKILL_FILE SKLS
skill_declaration
	NAME as skillName in skill_names METHOD_PARAMETERS? SKILL_DESCRIPTION skill_element*
skill_element is silent
	NEWLINE
	COMMENTS
	(REQUIRE boolean_statement) as require
	(RANGE statRange) as range
	(COOLDOWN statRange)as cooldown
	USE BODY as use
	(MISS (NEWLINE* has_chance ( IF boolean_statement)?) as option* ) as miss