#SUPPORT
support_name-s are empty
supportToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[.*] as WILD
	"\n" as NEWLINE
	"\n\t" as NEWTAB
	"sups" as SUPS
	"support" as SUPPORT
	"range" as RANGE
	"cd" as COOLDOWN
	"damage" as DAMAGE
	"miss" as MISS
	"body" as BODY_DMG
	"mind" as MIND_DMG
supportBrace-s are Braced
	[,.] as SUPPORT_FILE with WILD as support_file_name 
	[\n\t,;;] as SUPPORT_DESCRIPTION with WILD as description
supportImport-s are Import
	[><<\"entities/behaviours/skills/supports/\",support_file_name,\".sups\">>\n] as IMPORT_SUPPORT from (NEWLINE|COMMENTS|support_declaration)*; with SUPPORT_FILE SUPS
support_declaration
	NAME as supportName in support_names SUPPORT_DESCRIPTION support_element*
support_element is silent
	NEWLINE
	COMMENTS
	(RANGE stat_range) as range
	(COOLDOWN stat_range)as cooldown
	(MISS (NEWLINE* has_chance ( IF boolean_statement)?) as option* ) as miss