
#MAP#
map_names global list with NAME
import_map Imports "environments/maps/" FILE_NAME ".maps" = ">" FILE_NAME ".maps" "\n"
	( "\n" | comments | map_header | area_declaration)*
area_shape_name
	"Rectangle"


map_header
	NAME as mapName in map_names import_tile
area_declaration
	NAME as areaName INTEGER as chance "%" ":" ( "\n\t" TITLE as bluePrintName ( "\n\t\t" area_element)* )*
area_element
	( "Entry" tile_names ( "|" tile_name )* ( INTEGER as lowerBound ( "-" INTEGER as upperBound )? "Exits" ) as range? ) as  entryPointGeneration
	( "Patches" patch_probability ":" ( "\n\t\t\t" patch_element )* ) as terrainGeneration
patch_probability Braced ( )
	probability_element ( "," probability_element )*
probability_element silent
	( INTEGER as amount ":" INTEGER as percent "%" ) as probability
patch_element
	tile_name ( INTEGER as patchWidth [[xX]] INTEGER as patchHeight )?