#ASSOCIATION#
association_names global list with NAME 
import_association Imports "entities/relations/associations/" FILE_NAME ".asos" = ">" FILE_NAME ".asos" "\n"
	( "\n" | comments | association_declaration )*
association_declaration
	NAME as associationName in association_names (comments|"\n\t" association_element|"\n" )*
association_element silent
	association_start
	association_event
	association_join
association_start
	"start" NAME as specificName ( "on" event_names ) as onEvent
association_join
	"join" NAME as specificName  if_header
association_event
	event_statement