
import attacks/attacks.ruleset
import supports/supports.ruleset

#SKILL#
skill_names global list with NAME
import_skill Imports "entities/behaviours/skills/" FILE_NAME ".skls" = ">" FILE_NAME ".skls" "\n"
	( "\n" | comments | skill_declaration )*
skill_declaration
	NAME as skillName in skill_names method_parameters? "\n"* DESCRIPTION skill_element*
skill_element silent
	comments
	("?" boolean_statement) as require
	("range" stat_range) as range
	("cd" stat_range) as cooldown
	"use" std_body as use
	("miss" ("\n"* conditional_chance) as option* ) as miss
	"\n"