
import items/aspects/aspects.ruleset
import items/items.ruleset
import mods/affinities/affinities.ruleset
import mods/conditions/conditions.ruleset
import mods/traits/traits.ruleset
import behaviours/activities/activities.cgon
import behaviours/quests/quests.ruleset
import behaviours/skills/skills.ruleset

import relations/associations/associations.ruleset
import relations/reasons/reasons.ruleset

#HEROES#

hero_stat list with NAME
	"STR", "DEX", "CON", "KNW", "MND", "CRM"
stat_range 
	state_range_element  (("+" as PLUS|"*" as MULTIPLY|"/" as DIVIDE|"-" as MINUS) as operator stat_range)?
state_range_element silent
	braced_statement hero_stat?
	number as left "d" as left_DAYS? (("-"|"..") number as right "d" as right_DAYS?)? "%" as percent? hero_stat? 

entity_definition_body Braced { } , silent = entity_definition*
entity_declaration
	NAME as entityName entity_image_specification? entity_definition_body
entity_image_specification silent
	(NAME as imageName ("->" NAME as imageId)* )
entity_definition
	"\n"
	comments
	(hero_stat INTEGER as left ("-" INTEGER as right)?) as stat_range ("|" hero_stat INTEGER as left ("-" INTEGER as right)?) as stat_range*
	event_statement
	( skill_names method_arguments? ) as skill
	affinity_names