
#HEROES
hero_stat-s
	"STR" as STR
	"DEX" as DEX
	"CON" as CON
	"KNW" as KNW
	"MND" as MND
	"CRM" as CRM
stat_range
	BRACED_STATEMENT hero_stat?      ((PLUS|MULTIPLY|DIVIDE|MINUS) as operator stat_range)?
	num as left ((DASH|DOTDOT) num as right)? PERCENT as percent? hero_stat?  ((PLUS|MULTIPLY|DIVIDE|MINUS) as operator stat_range)?

entityToken-s
	[[a-zA-Z_][a-zA-Z0-9_]*] as NAME
	[.*] as WILD
	"\n" as NEWLINE
	"|" as PIPE
	"stat" as STAT
entityBrace-s are Braced
	[{,}] as ENTITY_DEFINITION with entity_definition*

entity_declaration
	NEWLINE* NAME as entityName NEWLINE* (NAME as imageName (TILE_IMAGE_ACCESS NAME as imageId)* NEWLINE* )? ENTITY_DEFINITION
entity_definition
	NEWLINE
	COMMENTS
	(hero_stat INTEGER as left (DASH INTEGER as right)?) as stat_range (PIPE hero_stat INTEGER as left (DASH INTEGER as right)?) as stat_range*
	( event_name BODY ) as event
	( skill_name METHOD_ARGUMENTS? ) as skill
	affinity_name